body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

.scene {
    width: 300px;
    height: 300px;
    perspective: 800px; 
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s linear;
    transform: rotateX(-20deg) rotateY(45deg);
}

.cube-face {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 3px;
    background-color: black;
}

.sticker {
    width: 94px;
    height: 94px;
    margin: 1px;
    border-radius: 5px;
}

.red { background-color: #dc0f22; }
.orange { background-color: #ff6500; }
.blue { background-color: #0045ad; }
.green { background-color: #009b48; }
.white { background-color: #ffffff; }
.yellow { background-color: #ffd700; }

.front  { transform: rotateY(0deg) translateZ(150px); }
.back   { transform: rotateX(180deg) translateZ(150px); }
.right  { transform: rotateY(90deg) translateZ(150px); }
.left   { transform: rotateY(-90deg) translateZ(150px); }
.top    { transform: rotateX(90deg) translateZ(150px); }
.bottom { transform: rotateX(-90deg) translateZ(150px); }

.back {
    transform: rotateY(180deg) translateZ(150px);
}